<!doctype html>
<html ng-app="noquApp">

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
    <script src="/js/noqu.js"></script>
</head>

<body ng-controller="QuClController as qu">

    <div class="container">
        <div class="row">
            Queue code :
            <input ng-model="queueId" /> {{errorMessage}}
            <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="connect()">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Connect to queue
            </button>

            <hr/>
            <input ng-model="name" />
            <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="newClient()">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> new client
            </button>
        </div>
    </div>




</body>

</html>