<!doctype html>
<html ng-app="noquApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-utils/ui-utils.js"></script>
    <script type="text/javascript" src="bower_components/lodash/lodash.js"></script>

    <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>

    <script src="js/noqu.js"></script>
    <script src="js/kioskCtrl.js"></script>

</head>

<body ng-controller="kioskController as qu">
    <div class="container top-spacing" ng-show="homeScreen">
        <div class="row">
            <form name="codeForm" class="form-inline text-center">
                <div class="form-group">
                    <input ng-disabled="!connected" autofocus autocomplete="off" name="code" required ng-model="queueId" type="text" class="form-control input-lg" placeholder="queue token">
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="connectClient()" ng-disabled="codeForm.code.$error.required || !connected">open</button>
                </div>
            </form>
        </div>
        <div class="row">
            <h3 class="text-center" ng-hide="connected">no connection with server</h3>
            <h3 class="text-center error-message">{{errorMessage}}</h3>
        </div>
    </div>

    <div class="container top-spacing-small" ng-show="!homeScreen">
        <div class="row" ng-hide="messageIsActive == true">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <h3 ng-show="registered && connected">select topic</h3>
                <h3 ng-hide="registered || !connected">registering...</h3>
                <h3 ng-hide="connected">no connection with server</h3>
                <form name="clientForm" class="form-inline" ng-repeat="topic in topics track by topic.id">
                    <hr/>
                    <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="newClient(topic)" ng-disabled="clientForm.name.$error.required || !registered">{{topic.name}}</button>
                </form>
            </div>
        </div>
        <div class="text-center user-message" ng-show="messageIsActive == true">
            <h3>your number is </h3>
            <span class="huge">{{userMessage}}</span>
            <h3>take a seat please</h3>
        </div>
    </div>
</body>

</html>